<%inherit file="/base.html"/>
<%def name="title()">Details | ${c.label}</%def>

<center>
<div id="timeline_div" style="width:960px"></div>

<div style="width:960px" align="center">
    <div style="float:left;text-align:left;">
        <h4>Run Info</h4>
    </div>
    <div style="text-align:right;margin-top:1em;margin-bottom:1.5em">
            <select id="run_timestamp" onchange="displayRunInfo();">
                % for timestamp in c.timestamp:
                <option value="${timestamp}"> ${timestamp}</option>
                % endfor
            </select>
    </div>
</div>

<div class="tabber">
    <div class="tabbertab" title="Summary">
            <div id="gauge" class="gauge" style="margin-top:10px;"></div>
            <div style="width:500px;float:left;margin-top:10px;">-</div>
            <div style="width:200px;height:240px;float:left;margin-top:10px;">
                <div class="stat-title">Full Time:</div><div id="run-time" class="stat-value"></div>
                <div class="stat-title">Total Size:</div><div id="run-size" class="stat-value"></div>
                <div class="stat-title">Total Requests:</div><div id="run-requests" class="stat-value"></div>
            </div>
    </div>

    <div class="tabbertab" title="Resources">
        <div id="by-size" style="width:450px;margin-left:15px;height:300px;float:left;margin-top:10px;"></div>
        <div id="by-req"  style="width:450px;margin-left:20px;height:300px;float:left;margin-top:10px;"></div>
    </div>
    
    <div class="tabbertab" title="Page Speed Details">
          <div id='pagespeed' style="margin-top:10px;"></div>
    </div>
    
    <div class="tabbertab" title="HAR Viewer">
          <div id="harviewer" style="margin-top:10px;"></div>
    </div>
</div>

</center>

<script type='text/javascript'>
	function setTimeLine(){
        var timeHash = new Array();
        var sizeHash = new Array();
        var reqHash = new Array();
        var scoreHash = new Array();
        % for key,value in c.time_hash.items():
            timeHash["${key}"] = ${value};
        % endfor
        % for key,value in c.size_hash.items():
            sizeHash["${key}"] = ${value};
        % endfor
        % for key,value in c.requests_hash.items():
            reqHash["${key}"] = ${value};
        % endfor
        % for key,value in c.score_hash.items():
            scoreHash["${key}"] = ${value};
        % endfor

        drawTimeLine(timeHash,sizeHash,reqHash,scoreHash);
    }
   
    setTimeLine();
    displayRunInfo();
</script>
