<%inherit file="/base.html"/>
<%def name="title()">Details | ${c.label}</%def>

<center>
<div id="timeline_div" style="width:960px"></div>
</center>

<script type='text/javascript'>
	function setTimeLine(){
        var timeHash = new Array();
        var sizeHash = new Array();
        var reqHash = new Array();
        var scoreHash = new Array();
        % for key,value in c.time_hash.items():
            timeHash["${key}"] = ${value};
        % endfor
        % for key,value in c.size_hash.items():
            sizeHash["${key}"] = ${value};
        % endfor
        % for key,value in c.requests_hash.items():
            reqHash["${key}"] = ${value};
        % endfor
        % for key,value in c.score_hash.items():
            scoreHash["${key}"] = ${value};
        % endfor

        drawTimeLine(timeHash,sizeHash,reqHash,scoreHash);
    }
   
    setTimeLine();
    displayRunInfo();
</script>
