<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body style="margin:0">
    <div id="content" version="2.0.12"></div>
    <script src="${h.url_for('/scripts/harviewer/jquery.js')}"></script>
    <script data-main="${h.url_for('/scripts/harviewer/harPreview')}" src="${h.url_for('/scripts/harviewer/require.js')}"></script>
    <link rel="stylesheet" href="${h.url_for('/styles/harviewer/harPreview.css')}" type="text/css"/>
    <script>
        $("#content").bind("onPreviewInit", function(event){ 
            var viewer = event.target.repObject;
            viewer.loadHar("${h.url_for('/data/google.har')}");
        });
    </script>
</body>
</html>
