<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>${self.title()}</title>

    <link rel="stylesheet" type="text/css" href="/combine/styles?ver=${c.rev}&main.css&tabber.css&datatables/table_jui.css&datatables/ColReorder.css&datatables/TableTools_JUI.css" />
    <link rel="stylesheet" type="text/css" href="${h.url_for('/styles/chosen/chosen.css?ver=0.9.5')}" />
    <link rel="stylesheet" type="text/css" href="${h.url_for('/styles/datatables/jquery-ui-1.8.4.custom.css')}" />
    <!--[if IE]>
        <link rel="stylesheet" type="text/css" href="${h.url_for('/styles/main-ie.css?ver=')}${c.rev}" />
    <![endif]-->

    <script type='text/javascript' src="${h.url_for('/scripts/LAB.min.js?ver=2.0.3')}"></script>
    <script type='text/javascript' src="${h.url_for('/scripts/preferences.js?ver=')}${c.rev}"></script>
</head>
<body>
    <div class="header">
        <div class="left"><a href="/">HAR Storage</a></div>
        <div class="right"><a href="http://code.google.com/p/harstorage/">Project Page</a></div>
        <div class="right"><a href="javascript:HARSTORAGE.view_preferences()">Preferences</a></div>
        <div class="hr"></div>

        <div id="preferences">
                <strong>Chart Theme</strong>

                <div class="hr"></div>
                
                <form id="theme-list" action="none">
                    <input class="radio" type="radio" name="theme" value="light" />       <span class="theme-name">Light<br /></span>
                    <input class="radio" type="radio" name="theme" value="light-green" /> <span class="theme-name">Light Green<br /></span>
                    <input class="radio" type="radio" checked="true" name="theme" value="dark-green" />  <span class="theme-name">Dark Green</span>
                </form>

                <div class="hr"></div>

                <button type="button" onclick="javascript:HARSTORAGE.update_preferences();">Apply</button>

                <div id="close">
                    <a href="javascript:HARSTORAGE.view_preferences()">X</a>
                </div>                
        </div>
    </div>
    ${next.body()}
    <div class="footer">
        <div class="hr"></div>
    </div>
    </body>
</html>