<%inherit file="/base.html"/>
<%def name="title()">Superposed Tests</%def>
<center>
    <div class="sp-create">
        <div class="howto">
            <a href="http://code.google.com/p/harstorage/wiki/SuperposedTests" target="_blank"><strong>How to aggregate and compare results?</strong></a>
        </div>

        <div class="spinner" id="spinner"></div>

        <div class="form">
            <form action="display" id="superpose-form" method="post" onsubmit="return false;">
                <fieldset>
                    <legend>Aggregate and Compare</legend>

                    <div id="container">
                        <div id="step_1" class="container">
                            <div class="title" id="step_1_head" >Set 1 &gt;</div>
                            <div class="text">Label:</div>

                            <select name="step_1_label" id="step_1_label" class="slct-label">
                                % for label in c.labels:
                                <option value="${label}">${label}</option>
                                % endfor
                            </select>

                            <div class="text">Start Time:</div>

                            <select name="step_1_start_ts" id="step_1_start_ts" class="slct-start" >
                            </select>

                            <div class="text">End Time:</div>

                            <select name="step_1_end_ts" id="step_1_end_ts" class="slct-end" >
                            </select>

                            <input id="step_1_add" type="image" src="${h.url_for('/images/add_button.png')}"    class="image" />
                            <input id="step_1_del" type="image" src="${h.url_for('/images/remove_button.png')}" class="image" />
                        </div>
                    </div>

                    <input type="submit" class="submit" id="submit" value="View Result" />
                </fieldset>
            </form>
        </div>
    </div>
</center>

<script type='text/javascript'>
    $LAB
    .script("${h.url_for('/scripts/spin.js')}").wait()
    .script("${h.url_for('/scripts/superpose.js')}").wait()
    .wait(function(){
        var superpose_form = new SuperposeForm();
        superpose_form.addSpinner();
        superpose_form.setTimestamps('step_1_label');
    })
</script>