<%inherit file="/base.html"/>
<%def name="title()">Details | ${c.label}</%def>

<center>
<div id="timeline_div" style="width:960px"></div>

<div style="width:960px" align="center">
    <div style="float:left;text-align:left;">
        <h4>Run Info</h4>
    </div>
    <div style="text-align:right;margin-top:1em;">
            <select id="run_timestamp" class="chosen-select" style="width:190px;" onchange="displayRunInfo();">
                % for timestamp in c.timestamp:
                <option value="${timestamp}"> ${timestamp}</option>
                % endfor
            </select>
    </div>
</div>

<div class="tabber">
    <div class="tabbertab" title="Summary">
            <div class="gauge" id="gauge" ></div>
            <div class="stat-container-max">
                <div class="stat-title-max">Full Load Time:</div>       <div class="stat-value" id="full-load-time"></div>
                <div class="stat-title-max">Total DNS Time:</div>       <div class="stat-value" id="dns"></div>
                <div class="stat-title-max">Total Transfer Time:</div>  <div class="stat-value" id="transfer"></div>
                <div class="stat-title-max">Total Server Time:</div>    <div class="stat-value" id="server"></div>
                <div class="stat-title-max">AVG Connecting Time:</div>  <div class="stat-value" id="connecting"></div>
                <div class="stat-title-max">AVG Blocking Time:</div>    <div class="stat-value" id="blocked"></div>
            </div>
            <div class="stat-container-min">
                <div class="stat-title-min">Total Size:</div>           <div class="stat-value" id="total-size"></div>
                <div class="stat-title-min">Text Files:</div>           <div class="stat-value" id="text-size"></div>
                <div class="stat-title-min">Media Files:</div>          <div class="stat-value" id="media-size"></div>
                <div class="stat-title-min">Cache Size:</div>           <div class="stat-value" id="cache-size"></div>
            </div>
            <div class="stat-container-min">
                <div class="stat-title-min">Requests:</div>             <div class="stat-value" id="requests"></div>
                <div class="stat-title-min">Redirects:</div>            <div class="stat-value" id="redirects"></div>
                <div class="stat-title-min">Bad Requests:</div>         <div class="stat-value" id="bad-req"></div>
                <div class="stat-title-min">Hosts:</div>                <div class="stat-value" id="hosts"></div>
            </div>
    </div>

    <div class="tabbertab" title="Resources">
        <div id="by-size" style="width:450px;margin-left:15px;height:300px;float:left;margin-top:10px;"></div>
        <div id="by-req"  style="width:450px;margin-left:20px;height:300px;float:left;margin-top:10px;"></div>
    </div>
    
    <div class="tabbertab" title="Page Speed Details">
          <div id='pagespeed' style="margin-top:10px;"></div>
    </div>
    
    <div class="tabbertab" title="HAR Viewer">
          <div id="harviewer" style="margin-top:10px;"></div>
    </div>

    <div class="tabbertab" title="Manage Data">
        <div id="data-management" style="text-align:left;">
            <button type="button" class="single-button" id="${c.label}" onclick="deleteRun(this,'${c.mode}');">Delete current test</button>
        </div>
    </div>

</div>

</center>

<script type='text/javascript'>
	function setTimeLine(){
        var timeHash = new Array();
        var sizeHash = new Array();
        var reqHash = new Array();
        var scoreHash = new Array();
        % for key,value in c.time_hash.items():
            timeHash["${key}"] = ${value};
        % endfor
        % for key,value in c.size_hash.items():
            sizeHash["${key}"] = ${value};
        % endfor
        % for key,value in c.requests_hash.items():
            reqHash["${key}"] = ${value};
        % endfor
        % for key,value in c.score_hash.items():
            scoreHash["${key}"] = ${value};
        % endfor

        drawTimeLine(timeHash,sizeHash,reqHash,scoreHash);
    }
   
    setTimeLine();
    displayRunInfo();
</script>

<script type='text/javascript'>
    $(".chosen-select").chosen()
</script>
