<%inherit file="/base.html"/>
<%def name="title()">Details | ${c.label}</%def>

<center>
    <div class="results">
        <div id="timeline"></div>

        <p class="title">Run Info</p>

        <div class="selector">
            <select id="run_timestamp" class="chosen-select" onchange="RunInfo.get();">
                % for timestamp in c.timestamp:
                <option value="${timestamp}"> ${timestamp}</option>
                % endfor
            </select>
        </div>

        <div class="spinner" id="spinner"></div>

        <div class="tabber">
            <div class="tabbertab" title="Summary">
                <div id="gauge" ></div>
                
                <div class="container-max">
                    <div class="title-max">Full Load Time:</div>       <div class="value" id="full-load-time"></div>
                    <div class="title-max">Total DNS Time:</div>       <div class="value" id="dns"></div>
                    <div class="title-max">Total Transfer Time:</div>  <div class="value" id="transfer"></div>
                    <div class="title-max">Total Server Time:</div>    <div class="value" id="server"></div>
                    <div class="title-max">AVG Connecting Time:</div>  <div class="value" id="connecting"></div>
                    <div class="title-max">AVG Blocking Time:</div>    <div class="value" id="blocked"></div>
                </div>
                <div class="container-min">
                    <div class="title-min">Total Size:</div>           <div class="value" id="total-size"></div>
                    <div class="title-min">Text Files:</div>           <div class="value" id="text-size"></div>
                    <div class="title-min">Media Files:</div>          <div class="value" id="media-size"></div>
                    <div class="title-min">Cache Size:</div>           <div class="value" id="cache-size"></div>
                </div>
                <div class="container-min">
                    <div class="title-min">Requests:</div>             <div class="value" id="requests"></div>
                    <div class="title-min">Redirects:</div>            <div class="value" id="redirects"></div>
                    <div class="title-min">Bad Requests:</div>         <div class="value" id="bad-req"></div>
                    <div class="title-min">Hosts:</div>                <div class="value" id="hosts"></div>

                    <div><input type="image" src="${h.url_for('/images/help_button.png')}" class="image" onclick="window.open('http://code.google.com/p/harstorage/wiki/HowToUse#Summary_Stats');"/></div>
                </div>
            </div>

            <div class="tabbertab" title="Resources">
                <div id="by-size"></div>
                <div id="by-req"></div>
            </div>

            <div class="tabbertab" title="Page Speed Details">
                <div id="pagespeed"></div>
            </div>

            <div class="tabbertab" title="HAR Viewer">
                <div id="harviewer"></div>
                <div class="newtab">
                    <button type="button" id="newtab">View in New Tab</button>
                </div>
            </div>

            <div class="tabbertab" title="Manage Data">
                <div id="manager">
                    <button type="button" id="${c.label}" onclick="RunInfo.del(this,'${c.mode}',false);">Delete current test</button>
                    
                    <button type="button" id="${c.label}" onclick="RunInfo.del(this,'${c.mode}',true);">Delete all tests</button>
                </div>
            </div>
        </div>
</div>
</center>
<script type='text/javascript' src="${h.url_for('/scripts/tabber.js')}"></script>
<script type='text/javascript'>
    $LAB
    .script("${h.url_for('/scripts/jquery-1.6.3.min.js')}").wait()    
    .script("${h.url_for('/scripts/highcharts/highcharts.js')}").wait()
    .script("${h.url_for('/scripts/highcharts/themes/dark-green.js')}").wait()
    .script("${h.url_for('/scripts/highcharts/modules/exporting.js')}")
    .script("${h.url_for('/scripts/spin.js')}").wait()
    .script("${h.url_for('/scripts/chosen.jquery.js')}")
    .script("${h.url_for('/scripts/gauge.js')}").wait()
    .script("${h.url_for('/scripts/plots.js')}").wait()
    .wait(function(){
        Timeline = new Timeline();
        Timeline.get("${c.url}","${c.label}","${c.mode}");

        RunInfo = new RunInfo();
        RunInfo.addSpinner();
        RunInfo.get();
        RunInfo.timedStyleChange();        
    })
</script>