<%inherit file="/base.html"/>
<%def name="title()">Details | ${c.label}</%def>

<center>
    <div class="results">
        <div id="timeline"></div>

        <p class="title">Run Info</p>

        <div class="selector">
            <select id="run_timestamp" class="chosen-select">
                % for timestamp in c.timestamp:
                <option value="${timestamp}"> ${timestamp}</option>
                % endfor
            </select>
        </div>

        <div class="spinner" id="spinner"></div>

        <div class="tabber">
            <div class="tabbertab" title="Summary">                
                <div class="container-min">
                    <div class="title-min">Full Load Time:</div>         <div class="value" id="full-load-time">n/a</div>
                    <div class="title-min">onLoad Event:</div>         <div class="value" id="full-load-time">n/a</div>
                    <div class="title-min">Start Render Time:</div>         <div class="value" id="full-load-time">n/a</div>
                    <div class="title-min">Time to First Byte:</div>   <div class="value" id="full-load-time">n/a</div>
                </div>
                
                <div class="container-max">
                    <div class="title-max">Total DNS Time:</div>       <div class="value" id="dns">n/a</div>
                    <div class="title-max">Total Transfer Time:</div>  <div class="value" id="transfer">n/a</div>
                    <div class="title-max">Total Server Time:</div>    <div class="value" id="server">n/a</div>
                    <div class="title-max">Avg. Connecting Time:</div>  <div class="value" id="connecting">n/a</div>
                    <div class="title-max">Avg. Blocking Time:</div>    <div class="value" id="blocked">n/a</div>
                </div>
                <div class="container-min">
                    <div class="title-min">Total Size:</div>           <div class="value" id="total-size">n/a</div>
                    <div class="title-min">Text Files:</div>           <div class="value" id="text-size">n/a</div>
                    <div class="title-min">Media Files:</div>          <div class="value" id="media-size">n/a</div>
                    <div class="title-min">Cache Size:</div>           <div class="value" id="cache-size"></div>
                </div>
                <div class="container-min">
                    <div class="title-min">Requests:</div>             <div class="value" id="requests">n/a</div>
                    <div class="title-min">Redirects:</div>            <div class="value" id="redirects">n/a</div>
                    <div class="title-min">Bad Requests:</div>         <div class="value" id="bad-req">n/a</div>
                    <div class="title-min">Domains:</div>              <div class="value" id="hosts">n/a</div>

                    <div><input type="image" src="${h.url_for('/images/help_button.png')}" class="image" onclick="window.open('http://code.google.com/p/harstorage/wiki/HowToUse#Summary_Stats');"/></div>
                </div>
            </div>

            <div class="tabbertab" title="Resources">
                <div id="by-size"></div>
                <div id="by-req"></div>
            </div>

            <div class="tabbertab" title="Domains">
                <div id="domains-by-size"></div>
                <div id="domains-by-req"></div>
            </div>

            <div class="tabbertab" title="Page Speed Details">
                <div id="pagespeed"></div>
            </div>

            <div class="tabbertab" title="HAR Viewer">
                <div id="harviewer"></div>
                <div class="newtab">
                    <button id="newtab">View in New Tab</button>
                </div>
            </div>

            <div class="tabbertab" title="Manage Data">
                <div id="manager">
                    <button id="del-btn">Delete current test</button>                    
                    <button id="del-all-btn">Delete all tests</button>
                </div>
            </div>
        </div>
</div>
</center>
<script type='text/javascript' src="${h.url_for('/scripts/tabber.js')}"></script>
<script type='text/javascript'>
    $LAB
    .script("${h.url_for('/scripts/jquery-1.6.3.min.js')}").wait()    
    .script("${h.url_for('/scripts/highcharts/highcharts.js')}").wait()
    .script("${h.url_for('/scripts/highcharts/themes/dark-green.js')}").wait()
    .script("${h.url_for('/scripts/highcharts/modules/exporting.js')}")
    .script("${h.url_for('/scripts/spin.js')}").wait()
    .script("${h.url_for('/scripts/chosen.jquery.js')}")
    .script("${h.url_for('/scripts/plots.js')}").wait()
    .wait(function(){
        var run_info = new HARSTORAGE.RunInfo("${c.mode}", "${c.label}");
        run_info.addSpinner();
        run_info.get();
        run_info.timedStyleChange();
        
        var timeline = new HARSTORAGE.Timeline(run_info);
        timeline.get("${c.url}","${c.label}","${c.mode}");
    })
</script>