<%inherit file="/base.html"/>
<%def name="title()">Superposed Tests</%def>

<center>
    <div class="sp-display">
        <div id="timeline"></div>
    
        <p class="title">Average Stats</p>
    
        <table class="display" id="stats_table">
            <thead>
                <tr>
                    <th width="36%" class="left">Label</th>
                    <th width="16%" class="center">Page Speed Score</th>
                    <th width="16%" class="center">Total Size</th>
                    <th width="16%" class="center">Total Requests</th>
                    <th width="16%" class="center">Full Time</th>
                </tr>
            </thead>
            <tbody>
                % for index in range(c.rowcount):
                <tr>
                    <td class="left"><a href="${h.url_for(controller='results',action='details',label=c.metrics_table[0][index],method='GET')}">${c.metrics_table[0][index]}</a></td>
                    <td class="center">${c.metrics_table[1][index]}</td>
                    <td class="center">${c.metrics_table[2][index]}</td>
                    <td class="center">${c.metrics_table[3][index]}</td>
                    <td class="center">${c.metrics_table[4][index]}</td>
                </tr>
                % endfor
            </tbody>
        </table>    
    </div>
</center>

<script type='text/javascript'>
    $LAB
    .script("${h.url_for('/scripts/jquery-1.6.3.min.js')}").wait()
    .script("${h.url_for('/scripts/datatables/jquery.dataTables.min.js')}").wait()
    .script("${h.url_for('/scripts/datatables/ColReorder.min.js')}")
    .script("${h.url_for('/scripts/datatables/TableTools.min.js')}")
    .script("${h.url_for('/scripts/highcharts/highcharts.js')}").wait()
    .script("${h.url_for('/scripts/highcharts/themes/dark-green.js')}")
    .script("${h.url_for('/scripts/highcharts/modules/exporting.js')}").wait()
    .script("${h.url_for('/scripts/plots.js')}").wait()
    .wait(function(){
        Timeline = new Timeline();
        Timeline.draw("${c.points}");

        $(document).ready(function() {
            $('#stats_table').dataTable({
                "bJQueryUI": true,
                "sPaginationType": "full_numbers",
                "sDom": 'R<"H"Tfr>t<"F"ip>',
                "oTableTools": {
                        "sSwfPath": "/swf/copy_cvs_xls.swf",
                        "aButtons": ["copy", "csv", "xls"]
                },
                "bAutoWidth": false
            });
        });
    })
</script>