<!DOCTYPE html>
<html>
<head>
    <title>HAR Viewer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet"  href="${h.url_for('/styles/harviewer/har.css')}" type="text/css"/>

    <script type='text/javascript' src='${h.url_for("/scripts/harviewer/schema.js")}'></script>
    <script type='text/javascript' src='${h.url_for("/scripts/harviewer/har.js")}'></script>

    <script type='text/javascript' src='${h.url_for(c.url)}'></script>

    <script type='text/javascript'>
    function initHAR() {
            var _3cb = document.getElementById('viewer');
            var _3cc = HARjson;
            if ( _3cc ) {
                    // in IE there's a race condition
                    if ( "undefined" === typeof(HAR.Model) ) {
                            setTimeout(initHAR, 1000);
                            return;
                    }

                    HAR.Model.appendData(_3cc);
                    HAR.Tab.Preview.append(_3cc, _3cb);
                    var _3ce = document.getElementById("tabDOMBody");
                    _3ce.updated = false;
            }
    };

    window.onload = initHAR;
    </script>
</head>

<body>
    <div id=viewer></div>
    <div class=tabDOMBody id=tabDOMBody></div>
</body>

</html>