<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>HAR Viewer</title>
    <link rel="stylesheet" href="/styles/harviewer/harPreview.css" type="text/css"/>
</head>
<body style="margin:0">
    <div id="content"></div>

    <script type='text/javascript' src="/scripts/jquery-1.7.min.js"></script>
    <script data-main="/scripts/harviewer/harPreview" src="/scripts/harviewer/require.js"></script>
</body>
</html>