<html>
    <head>
        <title>${c.title}</title>
        <link rel="stylesheet" type="text/css" href="${h.url_for('/style/style.css')}" />
    </head>
    <body>
        <div align="center">
            ${h.form(h.url_for(controller='login',action='auth'),name="login",onsubmit="return validate();")}			
                <fieldset class="credentials">
                    <p><label class="account">Username</label> ${h.text('username')}</p>
					<p><label class="account">Password</label> ${h.password('password')}</p>
                    <p class="login"> ${h.submit('submit', 'Log in')} </p>
				</fieldset>				
			${h.end_form()}
            % if c.failed_login == True:
                <span class="error-message">Invalid username or password! Please try again.</span>
            % endif
        </div>
        <script type="text/javascript">login.username.focus()</script>
        <script type="text/javascript" src="${h.url_for('/script/script.js')}"></script> 
    </body>
</html>
