<%namespace name="jsloader" file="/create/jsloader.html"/>
<%namespace name="dochead"  file="/common/dochead.html"/>
<%namespace name="header"   file="/common/header.html"/>
<%namespace name="footer"   file="/common/footer.html"/>

${dochead.html("Superposed Tests")}
${header.html()}
<center>
    <div class="sp-create">
        <div class="howto">
            <a href="http://code.google.com/p/harstorage/wiki/SuperposedTests" target="_blank"><strong>How to aggregate and compare results?</strong></a>
        </div>

        <div class="spinner" id="spinner"></div>

        <div class="form">
            <form action="display" id="superpose-form" method="get" onsubmit="return false;">
                <fieldset>
                    <legend>Aggregate and Compare</legend>

                    <div id="container">
                        <div id="step_1" class="container">
                            <div class="title" id="step_1_head" >Set 1 &gt;</div>
                            <div class="text">Label:</div>

                            <select name="step_1_label" id="step_1_label" class="slct-label">
                                % for label in c.labels:
                                <option value="${label}">${label}</option>
                                % endfor
                            </select>

                            <div class="text">Start Time:</div>

                            <select name="step_1_start_ts" id="step_1_start_ts" class="slct-start" >
                            </select>

                            <div class="text">End Time:</div>

                            <select name="step_1_end_ts" id="step_1_end_ts" class="slct-end" >
                            </select>

                            <input id="step_1_add" type="image" src="/images/add_button.png"    class="image" />
                            <input id="step_1_del" type="image" src="/images/remove_button.png" class="image" />
                        </div>
                    </div>

                    <div>
                        <input type="checkbox" class="checkbox" id="column" name="chart" value="column" checked="yes" /><span class="checkbox-text">Column Chart</span>
                        <input type="checkbox" class="checkbox" id="spline" name="chart" value="spline" /><span class="checkbox-text">Spline Chart</span>
                        <input type="checkbox" class="checkbox" name="table" value="true" checked="yes" /><span class="checkbox-text">Data Table</span><br />
                        <input type="submit" class="submit" id="submit" value="View Result" />
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</center>
${jsloader.html()}
${footer.html()}