<%def name="chart()">
<div id="chart"></div>
</%def>

<%def name="table()">
<div id="summary-table">
<table class="display" id="stats_table">
    <thead>
        <tr>
            <th width="340px" class="left">${c.headers[0]}</th>
            % for column in range(len(c.headers)-1):
                <th class="center">${c.headers[column+1]}</th>
            % endfor
        </tr>
    </thead>
    <tbody>
        % for row in range(c.rowcount):
        <tr>
            <td class="left"><a href="${h.url_for(controller='results', action='details', label=c.metrics_table[0][row], method='GET')}">${c.metrics_table[0][row]}</a></td>
            % for column in range(len(c.headers)-1):
                <td class="center">${c.metrics_table[column+1][row]}</td>
            % endfor
        </tr>
        % endfor
    </tbody>
</table>
</div>
</%def>