/* Document Body */
body {
    color: #498a2d;
}
body a {
    color: #498a2d;
    text-decoration: none;
}
body a:hover {
    text-decoration: underline;
}
/* Document Header and Footer*/
.header .left a:hover {
    text-decoration: none;
}
.header .right {
    text-align: right;
    font-size: 77%;
    margin: 6px 0 0 0;
}
.header .left {
    float: left;
    text-align: left;
    font-weight: bold;
    font-size: 174%;
}
.header .hr,.footer .hr {
    height: 1px;
    width: 100%;
    background-color: #498a2d;
    margin: 10px 0 10px 0;
}
/* Manual uploader */
.uploader fieldset {
    margin: 20px 0 20px 0;
    border: 1px solid #498a2d;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 480px;
}
.uploader legend {
    color: #fff;
    font-size: 93%;
    background: #498a2d;
    border: 1px solid #498a2d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 20px;
}
.uploader .file {
    width: 300px;
    height: 24px;
    color: #000;
    font-size: 77%;
    background: #d7e7cf;
    border: 1px solid #498a2d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.uploader .button {
    width: 100px;
    height: 24px;
    margin: 20px 0 20px 20px;
    color: #000;
    font-size: 77%;
    background: #d7e7cf;
    border: 1px solid #498a2d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
/* Summary Table on Home Page */
.summary {
    width: 960px;
}
.summary .title {
    font-weight: bold;
    font-size: 108%;
    margin: 0 0 12px 0;
    text-align: left;
}
.summary table {
    table-layout: fixed;
}
.summary button {
    width: 220px;
    height: 24px;
    margin: 20px 10px 20px 20px;
    color: #000;
    font-size: 77%;
    background: #d7e7cf;
    border: 1px solid #498a2d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
/* Superposed Test */
.sp-display {
    width: 960px;
}
.sp-display .title {
    font-weight: bold;
    font-size: 108%;
    margin: 12px 0;
    text-align: left;
}
.sp-create fieldset {
    width: 960px;    
    border: 1px solid #498a2d;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.sp-create legend {
    color: #fff;
    font-size: 93%;
    background: #498a2d;
    border: 1px solid #498a2d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 20px;
}
.sp-create {
    position: relative;
}
.sp-create .form {
    position: relative;
    z-index: 1;
}
.sp-create .spinner {
    position: relative;
    z-index: 2;
    width: 24px;
    top: 32px;
    left: 470px;
    display: none;
}
.sp-create .howto {
    width: 980px;
    margin: 20px 0 10px 0;
    text-align: right;
}
.sp-create .howto a {
    text-decoration: none;
}
.sp-create .howto a:hover {
    text-decoration: underline;
}
.sp-create .slct-label {
    float: left;
    width: 200px;
}
.sp-create .slct-start {
    float: left;
    width: 170px;
}
.sp-create .slct-end {
    width: 170px;
}
.sp-create .container {
    text-align: left;
    margin: 20px 0 0 0;
}
.sp-create .title,.sp-create .text {
    float: left;
    font-size: 100%;
    margin: 4px 10px 0 10px;
}
.sp-create .title {
    font-weight: bold;
}
.sp-create .image {
    vertical-align: top;
    margin: 0 0 0 20px;
}
.sp-create .submit {
    width: 220px;
    height: 24px;
    margin: 30px 10px 20px 20px;
    color: #000;
    font-size: 77%;
    background: #d7e7cf;
    border: 1px solid #498a2d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
/* Results */
.results {
    width: 960px;
}
.results .title {
    font-weight: bold;
    font-size: 108%;
    margin: 12px 0 0 0;
    float: left;
    text-align: left;
}
.results select {
    width: 200px;
}
.results .selector {
    text-align: right;
    margin: 12px 0 0 0;
}
.results #gauge {
    margin: 10px 0 0 0;
    float: left;
    text-align: left;
    width: 200px;
    height: 200px;
}
.results .container-max,.results .container-min {
    height: 210px;
    float: left;
    margin: 10px 0 0 0;
    font-size: 93%;
}
.results .container-max {
    width: 280px;
}
.results .container-min {
    width: 230px;
}
.results .container-max .title-max,.results .container-min .title-min {
    text-align: right;
    font-weight: bold;
    margin: 8px 0 8px 0;
    float: left;
}
.results .container-max .title-max {
    width: 200px;
}
.results .container-min .title-min {
    width: 150px;
}
.results .value {
    text-align: left;
    margin: 8px 0 8px 10px;
    width: 70px;
    float: left;
}
.results .image {
    margin: 35px 0 0 190px;
}
.results #by-size,.results #by-req {
    width:450px;
    height:300px;
    float:left;
}
.results #by-size {
    margin: 10px 0 10px 10px;
}
.results #by-req {
    margin: 10px 0 10px 30px;
}
.results #pagespeed {
    margin: 10px 0;
}
.results #harviewer {
    margin: 10px 0;
}
.results #manager {
    text-align: left;
}
.results button {
    width: 200px;
    height: 24px;
    margin: 20px 10px 20px 20px;
    color: #000;
    font-size: 77%;
    background: #d7e7cf;
    border: 1px solid #498a2d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}
.results .newtab {
    text-align: center;
}
.results .newtab button {
    width: 200px;
    height: 24px;
    margin: 5px 0px 10px 0px;
    color: #000;
    font-size: 77%;
    background: #d7e7cf;
    border: 1px solid #498a2d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.results .spinner {
    position: relative;
    width: 26px;
    left: 510px;
    top: -27px;
    margin: 12px 0 0 0;
    display: none;
}