/* Document Body */
body {
    color: #498a2d;
}
body a {
    color: #498a2d;
    text-decoration: none;
}
body a:hover {
    text-decoration: underline;
}
/* Document Header and Footer*/
.header .left a:hover {
    text-decoration: none;
}
.header .right {
    text-align: right;
    font-family: "Gill Sans", Verdana;
    font-size: 77%;
    margin: 6px 0 0 0;
}
.header .left {
    float: left;
    text-align: left;
    font-family: times, "Times New Roman", times-roman, georgia, serif;
    font-weight: bold;
    font-size: 174%;    
}
.header .hr,.footer .hr {
    height: 1px;
    width: 100%;
    background-color: #498a2d;
    margin: 10px 0 10px 0;
}
/* Preferences menu */
.header #preferences {
    position: absolute;
    width: 250px;
    height: 168px;
    top: 60px;
    right: 7px;
    padding: 8px;
    background: #FFFFFF;
    opacity: 0.85;
    border: 1px solid #498a2d;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    z-index: 100;
    display: none;
}
.header #close {
    position: absolute;
    top: 7px;
    right: 8px;
    z-index: 110;
    font-family: "Gill Sans", Verdana;
    font-weight: bold;
    font-size: 85%;
    text-decoration: none;
}
.header #close a {
    text-decoration: none;
    font-family: "Gill Sans", Verdana;
    font-size: 85%;
}
.header .radio {
    vertical-align: -3px;
    margin: 0 0 10px 0;
}
.header #preferences strong {
    font-family: "Gill Sans", Verdana;
    font-weight: bold;
    font-size: 77%;
}
.header #preferences .theme-name {
    font-family: "Gill Sans", Verdana;
    font-size: 77%;
}
.header #preferences button {
    width: 100px;
    padding: 4px 0;
    margin: 0px 75px 0px 75px;
    color: #000;
    font-family: arial;
    font-size: 77%;
    background: #d7e7cf;
    border: 1px solid #498a2d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
/* Manual uploader */
.uploader fieldset {
    margin: 20px 0 20px 0;
    border: 1px solid #498a2d;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 480px;
}
.uploader legend {
    color: #fff;
    font-family: times, "Times New Roman", times-roman, georgia, serif;
    font-size: 93%;
    background: #498a2d;
    border: 1px solid #498a2d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 20px;
}
.uploader .file {
    width: 300px;
    height: 24px;
    color: #000;
    font-size: 77%;
    background: #d7e7cf;
    border: 1px solid #498a2d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.uploader .button {
    width: 100px;
    padding: 4px 0;
    margin: 20px 0 20px 20px;
    color: #000;
    font-family: arial;
    font-size: 77%;
    background: #d7e7cf;
    border: 1px solid #498a2d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
/* Summary Table on Home Page */
.summary {
    width: 960px;
    visibility: hidden;
}
.summary .title {
    font-family: times, "Times New Roman", times-roman, georgia, serif;
    font-weight: bold;
    font-size: 108%;
    margin: 0 0 12px 0;
    text-align: left;
}
.summary table {
    table-layout: fixed;
}
.summary button {
    width: 220px;
    padding: 4px 0;
    margin: 20px 0;
    color: #000;
    font-family: arial;
    font-size: 77%;
    background: #d7e7cf;
    border: 1px solid #498a2d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
/* Superposed Test */
.sp-display {
    width: 960px;
}
.sp-display #chart{
    width: 960px;
    height: 400px;
}
.sp-display #summary-table {
    visibility: hidden;
}
.sp-display .title {
    font-family: times, "Times New Roman", times-roman, georgia, serif;
    font-weight: bold;
    font-size: 108%;
    margin: 12px 0 18px 0;
    float: left;
    text-align: left;
}
.sp-display select {
    width: 145px;
    display: none;
}
.sp-display .selector {
    text-align: right;
    margin: 12px 0 18px 0;
}
.sp-create fieldset {
    width: 960px;    
    border: 1px solid #498a2d;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.sp-create legend {
    color: #fff;
    font-family: times, "Times New Roman", times-roman, georgia, serif;
    font-size: 93%;
    background: #498a2d;
    border: 1px solid #498a2d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 20px;
}
.sp-create {
    position: relative;
}
.sp-create .form {
    position: relative;
    z-index: 1;
}
.sp-create .spinner {
    position: relative;
    z-index: 2;
    width: 24px;
    top: 32px;
    left: 480px;
    display: none;
}
.sp-create .howto {
    width: 980px;
    margin: 20px 0 10px 0;
    font-family: times, "Times New Roman", times-roman, georgia, serif;
    font-size: 100%;
    text-align: right;
}
.sp-create .howto a {
    text-decoration: none;
}
.sp-create .howto a:hover {
    text-decoration: underline;
}
.sp-create .slct-label {
    float: left;
    width: 200px;
}
.sp-create .slct-start {
    float: left;
    width: 160px;
}
.sp-create .slct-end {
    width: 160px;
}
.sp-create .container {
    text-align: left;
    margin: 20px 0 0 0;
}
.sp-create .title,.sp-create .text {
    float: left;
    font-family: times, "Times New Roman", times-roman, georgia, serif;
    font-size: 93%;
}
.sp-create .text {
    margin: 4px 10px 0 20px;
}
.sp-create .title {
    width: 60px;
    font-weight: bold;
    margin: 4px 0 0 10px;
}
.sp-create .image {
    vertical-align: top;
    margin: 0 0 0 20px;
}
.sp-create .submit {
    width: 220px;
    padding: 4px 0;
    margin: 20px 0 20px 0;
    color: #000;
    font-family: arial;
    font-size: 77%;
    background: #d7e7cf;
    border: 1px solid #498a2d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.sp-create .checkbox {
    margin: 25px 5px 0 20px;
    vertical-align: -2px;    
}
.sp-create .checkbox-text {
    font-family: times, "Times New Roman", times-roman, georgia, serif;
    font-size: 93%;    
}
/* Results */
.results {
    width: 960px;
}
.results #timeline{
    width: 960px;
    height: 450px;
}
.results .title {
    font-family: times, "Times New Roman", times-roman, georgia, serif;
    font-weight: bold;
    font-size: 108%;
    margin: 12px 0 0 0;
    float: left;
    text-align: left;
}
.results select {
    width: 200px;
    display: none;
}
.results .selector {
    text-align: right;
    margin: 12px 0 0 0;
}
.results #gauge {
    margin: 10px 0 0 0;
    float: left;
    text-align: left;
    width: 200px;
    height: 200px;
}
.results .container-max,.results .container-min,.results .container-umin {
    height: 210px;
    float: left;
    margin: 10px 0 0 0;
    font-family: times, "Times New Roman", times-roman, georgia, serif;
    font-size: 93%;
}
.results .container-max {
    width: 260px;
}
.results .container-min {
    width: 220px;
}
.results .container-umin {
    width: 200px;
}
.results .title-max, .results .title-min, .results .title-umax {
    text-align: right;
    font-family: times, "Times New Roman", times-roman, georgia, serif;
    font-weight: bold;
    margin: 8px 0 8px 0;
    float: left;
}
.results .title-max {
    width: 180px;
}
.results .title-umax {
    width: 160px;
}
.results .title-min {
    width: 140px;
}
.results .value {
    text-align: left;
    margin: 8px 0 8px 10px;
    width: 70px;
    float: left;
}
.results .value-min {
    text-align: left;
    margin: 8px 0 8px 10px;
    width: 50px;
    float: left;
}
.results .image {
    margin: 35px 0 0 170px;
}
.results #by-size, .results #by-req {
    width:450px;
    height:300px;
    float:left;
}
.results #by-size {
    margin: 10px 0 10px 10px;
}
.results #by-req {
    margin: 10px 0 10px 30px;
}
.results #domains-by-size, .results #domains-by-req {
    width:930px;
    height:300px;
    margin: 10px 0;
}
.results #pagespeed {
    margin: 10px 0;
}
.results #harviewer {
    margin: 10px 0;
}
.results #manager {
    text-align: left;
    padding: 20px 0 20px 10px;
}
.results button {
    width: 200px;
    padding: 4px 0;
    margin: 0 10px;    
    color: #000;
    font-family: arial;
    font-size: 77%;
    background: #d7e7cf;
    border: 1px solid #498a2d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}
.results .newtab {
    text-align: center;
}
.results .newtab button {
    width: 200px;
    padding: 4px 0;
    margin: 5px 0px 10px 0px;
    color: #000;
    font-family: arial;
    font-size: 77%;
    background: #d7e7cf;
    border: 1px solid #498a2d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.results .spinner {
    position: relative;
    width: 26px;
    left: 515px;
    top: -27px;
    margin: 12px 0 0 0;
    display: none;
}