/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 margin-top:1em;
 width:960px;
 border:10px;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 3px 0;
 border-bottom: 1px solid #498a2d;
 font: bold 12px Verdana, sans-serif;
 text-align:left;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}

ul.tabbernav li a
{
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #498a2d;
 border-bottom: none;
 background: #D7E7CF;
 text-decoration: none;
}

ul.tabbernav li a:link { color: #498a2d; }
ul.tabbernav li a:visited { color: #498a2d; }

ul.tabbernav li a:hover
{
 color: #498a2d;
 background: #F2FBED;
 border-color: #498a2d;
}

ul.tabbernav li.tabberactive a
{
 background-color: #fff;
 border-bottom: 1px solid #fff;
}

ul.tabbernav li.tabberactive a:hover
{
 color: #000;
 background: white;
 border-bottom: 1px solid white;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
    padding:5px;
    border:1px solid #498a2d;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    border-top:none;
    width:930;
    overflow:auto;
}
