<%def name="html()">
<script type="text/javascript">
    $LAB
    .script("${h.url_for('/scripts/jquery-1.7.min.js')}").wait()
    .script("${h.url_for('/combine/scripts')}" +
            "?highcharts/highcharts.js&ver=4.1.5" +
            "&highcharts/themes.js&ver=${c.rev}" +
            "&highcharts/exporting.js&ver=4.1.5").wait()
    .script("${h.url_for('/scripts/chosen.jquery.js')}?ver=0.9.5")
    .script("${h.url_for('/scripts/harstorage.js')}?ver=${c.rev}").wait()
    .wait(function(){
        HARSTORAGE.AggregatedStatistics("timings");

        var chart = new HARSTORAGE.Histogram();
        chart.draw("${c.data}","${c.title}");
    })
</script>
</%def>
