a
{
text-decoration:none;
color:#498a2d;
}
a:visited
{
color:#498a2d;
}
a:active,a:hover
{
color:#000000;
}
fieldset
{
border: 1px solid #498a2d;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
width: 26em;
}
legend
{
color: #fff;
font-size: 14px;
background: #498a2d;
border: 1px solid #498a2d;
padding: 2px 6px;
}
input
{
height:24px;
color: #000;
font-size: 12px;
background: #d7e7cf;
border: 1px;
border-style:solid;
border-color:#498a2d;
-moz-border-radius:3px;
-webkit-border-radius:10px;
border-radius:3px;
}
label
{
font-size: 12px;
width: 11em;
float: left;
text-align: right;
margin-right: 0.5em;
}
.stats_table
{
border-width: 0 0 1px 1px;
border-style: solid;
}
.stats_td
{
border-color: #498a2d;
border-width: 1px 1px 0 0;
border-style: solid;
padding: 6px;
background-color: #f2fbed;
font-size:13px;
font-family:sans-serif;
color:#498a2d;
}
.stats_th
{
border-color: #498a2d;
border-width: 1px 1px 0 0;
border-style: solid;
padding: 6px;
background-color: #f2fbed;
font-size:13px;
font-weight:bold;
color:#498a2d;
}
.header_r
{
text-align:right;
font-size:12px;
margin-top:0.5em;
}
.header_l
{
float:left;
text-align:left;
color: #498a2d;
font-weight: bold;
font-size: 28px;
}
.footer_l
{
float:left;
font-size: 11px;
vertical-align:middle;
height:25px;
}
.footer_r
{
float:right;
font-size: 11px;
margin-bottom:1em;
}
.details 
{
border:1px;
border-style:solid;
border-color:#498a2d;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
overflow:auto;
width:960px;
margin-bottom:5px;
}
hr
{
background-color:#498a2d;
height:1px;
}
h4
{
margin-bottom:1em;
color:#498a2d;
text-align:left;
}
.gauge
{
margin-left:20px;
margin-right:20px;
float:left;
text-align:left;
width:200px;
height:200px;
}
.run_stats
{
text-align:right;
font-size:13px;
font-weight:bold;
color:#498a2d;
margin-left:10px;
margin-top:1.0em;
margin-bottom:2.0em;
width:120px;
float:left;
}
.run_stats2
{
text-align:left;
font-size:13px;
color:#498a2d;
margin-left:10px;
margin-top:1.0em;
margin-bottom:2.0em;
width:50px;
float:left;
}
