<%def name="html()">
<script type='text/javascript'>
    $LAB
    .script("/scripts/tabber.js?ver=1.9.1").wait()
    .script("/scripts/jquery-1.7.min.js").wait()
    .script("/scripts/harviewer/require.js").wait()
    .script("/scripts/harviewer/core/trace.js").wait()
    .script("/scripts/harviewer/domplate/domplate.js").wait()
    .script("/combine/scripts" +
            "?highcharts/highcharts.src.js&ver=2.1.9" +
            "&highcharts/themes.js&ver=${c.rev}" +
            "&highcharts/exporting.js&ver=2.1.9").wait()
    .script("/scripts/spin.js?ver=1.2.1").wait()
    .script("/scripts/chosen.jquery.js?ver=0.9.5").wait()
    .script("/scripts/harstorage.js?ver=${c.rev}").wait()
    .wait(function(){
        var run_info = new HARSTORAGE.RunInfo("${c.mode}", "${c.label}", "${c.query}", "${c.histo}");
        run_info.addSpinner();
        run_info.get();
        run_info.timedStyleChange();

        var timeline = new HARSTORAGE.Timeline(run_info);
        timeline.get("${c.label}", "${c.mode}");
    })
</script>
</%def>